<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>

  <body class="full-height-grow">
    <header></header>
    <section class="home-main-section">
      <div class="call-to-action">
        <a href="/" class="brand-logo">
          <h1 class="title">SaucePan</h1>
          <img src="/images/logo.png" />
        </a>
        <nav class="main-nav">
          <ul>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/register">REGISTER</a></li>
            <li><a href="menu">MENU</a></li>
          </ul>
        </nav>
        <a href="menu.html" class="btn">ENJOY</a>
      </div>

      <div class="img-wrapper">
        <div class="pan-image"></div>
      </div>
    </section>
  </body>
</html>
