<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Register</title>
    <!-- <link rel="stylesheet" href="main.css" /> -->
    <link rel="stylesheet" href="/stylesheets/register.css" />
  </head>
  <body>
    <div class="el1 container">
      <header class="main-header">
        <div>
          <a href="/" class="main-header__brand">
            <h1>SaucePan</h1>
            <img src="/images/logo.png" />
          </a>
        </div>
        <nav class="main-nav">
          <ul class="main-nav__items">
            <li class="main-nav__item"><a href="about-us.html">ABOUT US</a></li>
            <li class="main-nav__item"><a href="login.html">LOGIN</a></li>
            <li class="main-nav__item"><a href="register.html">REGISTER</a></li>
            <li class="main-nav__item"><a href="menu.html">MENU</a></li>
          </ul>
        </nav>
      </header>
      <!-- <div class="el1">Header</div> -->
      <div class="el2 side-left">
        <img
          src="/images/register.png"
          alt="register-image"
          class="register__image"
        />
      </div>
      <div class="el3">
        <form method="POST" action="/register">
          <h1>Sign Up</h1>
          <p>Create an account to place your order.</p>
          <div>
            <label> Name </label>
            <input id="name" name="name" type="text" />
          </div>
          <div>
            <label for="email"> Email Address </label>
            <input id="email" name="email" type="email" />
          </div>
          <div>
            <label for="password"> Password </label>
            <input id="password" name="password" type="password" />
          </div>
          <button type="submit">Sign Up</button>
          <p>Already have an account?</p>
          <a href="/login">Login Here </a>
        </form>
      </div>
      <div>Footer</div>
    </div>
  </body>
</html>
