.title {
  font-weight: 500;
  font-size: 8rem;
  margin-bottom: -2.5rem;
  margin-top: 0;
  /* margin-left: 100px;
  margin-right: 100px; */
  position: relative;
}

.call-to-action {
  width: 40%;
}

.btn {
  color: white;
  background-color: #fb6d4e;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 2em;
  text-align: center;
  margin: 5rem auto;
}

.btn:hover {
  color: #fb6d4e;
  background-color: white;
}

.home-main-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}

.home-main-section .img-wrapper {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

.home-main-section .pan-image {
  /* background-image: url(/images/landing-page-pan.png); */
  background: linear-gradient(to top, rgba(80, 60, 18, 0.6) 10%, transparent),
    url("/images/landing-page-pan.png") center/ cover no-repeat border-box;
  flex-shrink: initial;
  flex-grow: 1;
  width: 60vw;
  height: 100vh;
  /*
  min-width: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left; */
}

.home-main-section .call-to-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  align-self: center;
}

.brand-logo {
  /* display: flex; */
  /* align-items: center; */
  width: 100%;
  margin: auto;
  font-size: 1.25em;
  color: inherit;
  text-decoration: none;
  text-align-last: center;
}
.brand-logo img {
  width: 93px;
  height: 93px;
  transition: transform 2s ease-in-out;
  animation: bouncing 600ms 3s 1 ease-in;
}

@keyframes bouncing {
  0% {
    transform: translateY(-400%);
  }
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.brand-logo .title:hover {
  color: #fb6d4e;
  /* background-color: white; */
}

.brand-logo img:hover {
  color: #fb6d4e;
  /* background-color: white; */
  transform: rotate(360deg);
}
/* 
.brand-logo-name {
  margin-bottom: 1rem;
  font-size: 2rem;
} */

.main-nav {
  margin: 4rem auto;
}

.main-nav ul {
  /* display: flex; */
  margin: auto;
  padding: 0;
  list-style: none;
  font-size: 2.2rem;
}

.main-nav li {
  display: inline;
}

.main-nav a {
  color: inherit;
  text-decoration: none;
  margin: 1.5rem 1.5rem 0 1.5rem;
  /* padding: 2rem 2rem 0 2rem; */
}

.main-nav a:hover {
  color: #fb6d4e;
  border-bottom: 0.4rem solid #fb6d4e;
}
