*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.container {
  /* margin: 20px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2.5rem auto 2.5rem;
  grid-template-areas:
    "header header"
    "side main "
    "footer footer";
  height: 100%;
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fdbc5b;
  padding: 0.5rem 1rem;
  z-index: 1;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header h1 {
  margin: 0;
  display: inline-block;
  vertical-align: top;
  /* margin-bottom: 9px; */
  font-size: 1.4rem;
}

.main-header img {
  margin: 0;
  display: inline-block;
  vertical-align: bottom;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

@media (min-width: 40rem) {
  .toggle-button {
    display: none;
  }
}

.main-header__brand {
  color: #fff4e4;
  text-decoration: none;
  font-weight: bold;
  /* font-size: 1.5rem; */
  height: 2.5rem;
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand img {
  height: 100%;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 220px);
  vertical-align: middle;
}

.main-nav__items {
  display: none;
}

@media (min-width: 40rem) {
  .main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
  }
}

.main-nav__item {
  display: inline-block;
  margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
  text-decoration: none;
  color: #fff4e4;
  font-weight: bold;
  padding: 0.2rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}

.el1 {
  /* background: rgba(255, 154, 72, 0.5); */
  grid-area: header;
}

.el2 {
  background: #fff4e4;
  grid-area: side;
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-self: center;
  align-self: center; */
}

/* .login__image {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.el3 {
  background: #fff4e4;
  /* grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3; */
  grid-area: main;
  height: 100%;
  /* justify-self: center;
  align-self: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.el4 {
  background: rgba(0, 4, 255, 0.5);
  grid-area: footer;
}

button {
  color: white;
  background-color: #fb6d4e;
  padding: 0.3rem 0.3rem;
  border-radius: 0.3rem;
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  margin: 0.7rem auto;
  width: 20rem;
}

form {
  /* display: grid; */
  display: flex;
  flex-direction: column;
}

form label {
  display: block;
  font-size: 1rem;
}

form input {
  display: block;
  width: 20rem;
  font-size: 1rem;
  background: #fff4e4;
  border-top: none;
  border-right: none;
  border-left: none;
}

form p:last-of-type {
  text-align: center;
}

form a {
  text-decoration: none;
  color: #fb6d4e;
  text-align: center;
}

form div {
  margin: 1rem 0;
}

form label {
  margin: 0.5rem 0;
}

form input:focus {
  outline: none;
}
